@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, luxury;
}

@theme {
  /* Font Family */
  --font-out:Bona Nova SC,serif;

}

@layer components {
  .backgroundimage {
    @apply bg-no-repeat bg-cover bg-center;
    background-image: url('/images/hero.jpg');
  }
}
